<header class="admin-page__header">
  <nav class="admin-page__header__navigation">
    <a class="admin-page__header__navigation__item" href="#">Товары</a>
    <a class="admin-page__header__navigation__item" href="#">Категории</a>
    <a class="admin-page__header__navigation__item" href="#">Клиенты</a>
    <a class="admin-page__header__navigation__item" href="#">Заказы</a>
  </nav>
  <div class="admin-page__header__user-image"></div>
  <a class="admin-page__header__exit" href="#">Выход</a>
</header>
