<header class="admin-page__header">
  <nav class="admin-page__header__navigation">
    <a class="admin-page__header__navigation__item" href="#">Товары</a>
    <a class="admin-page__header__navigation__item" href="#">Категории</a>
    <a class="admin-page__header__navigation__item" href="#">Клиенты</a>
    <a class="admin-page__header__navigation__item" href="#">Заказы</a>
    <a class="admin-page__header__navigation__item" href="#">Оплата</a>
    <a class="admin-page__header__navigation__item" href="#">Доставка</a>
    <a class="admin-page__header__navigation__item" href="#">Статистика</a>
    <a class="admin-page__header__navigation__item" href="#">Сотрудники</a>
  </nav>
  <a href="#" class="admin-page__header__exit">Выход</a>
</header>
