.admin-page {
  &__header {
    background: lavender;
    display: flex;
    justify-content: space-between;

    padding: 15px;

    a {
      text-decoration: none;
      color: black;
    }

    &__navigation {
      &__item {
        margin-right: 20px;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
