<form class="product-info-form">
  <h2 class="heading-container__text">Информация о товаре</h2>
  <button type="submit" class="product-info-form__close-button" (click)="closePage()">X</button>
  <div class="">
    <div>
      <p><label for="name">Имя товара:</label></p>
      <input
        #name="ngModel"
        id="name"
        type="text"
        name="name"
        required
        [(ngModel)]="productCopy.name">
    </div>
    <div>
      <p><label for="description">Краткое описание товара:</label></p>
      <textarea
        #description="ngModel"
        id="description"
        type="text"
        name="description"
        required
        [(ngModel)]="productCopy.description"></textarea>
    </div>
    <div>
      <p><label for="price">Цена товара:</label></p>
      <input
        #price="ngModel"
        id="price"
        type="text"
        name="price"
        required
        [(ngModel)]="productCopy.price">
    </div>
    <!--<input
      id="imageLink"
      type="file"
      name="imageLink"
      (change)="onFileSelect($event)">-->
  </div>
  <div>
    <button type="submit" (click)="saveProductInfo()">Сохранить</button>
  </div>
</form>
<app-toaster-message
  *ngIf="close || savedChanges"
  [showButtons]="close"
  (agree)="agreeSave($event)">
</app-toaster-message>
