<div class="product-card">
  <a href="#" class="product-card__image">
    <img src="{{productInfo.imageLink}}">
  </a>
  <div class="product-card__text">
    <a href="#" class="product-card__text__name">Название: <b>{{productInfo.name}}</b></a>
    <p class="product-card__text__description">{{productInfo.description}}</p>
    <p class="product-card__text__price"
       *ngIf="productInfo.price !== 0">{{productInfo.price | currency:'USD':true}}</p>
    <p class="product-card__text__price" *ngIf="productInfo.price === 0">Под заказ</p>
  </div>
  <button class="product-card__delete-button" (click)="deleteProduct()">Удалить</button>
  <button class="product-card__change-button" routerLink="/product-info/{{indexOfProduct}}">Изменить</button>  <!--(click)="openProductInfoForm()"-->
</div>
